process {
        withName: PANGOLIN {
      container = 'quay.io/staphb/pangolin:4.2-pdata-1.19'
        }
        withName: SNPEFF_BUILD{
            ext.args = '-noLog'   
        }
        withName: SNPEFF_ANN{
            ext.args = '-noLog'
        }
}
singularity {
    enabled = true
    automounts = true
}
