process {
      withName: NEXTCLADE_DATASETGET {
          container = 'quay.io/biocontainers/nextclade:2.14.0--h9ee0642_1'
      }
      withName: NEXTCLADE_RUN {
      container = 'quay.io/biocontainers/nextclade:2.14.0--h9ee0642_1'
      }
      withName: PANGOLIN {
      container = 'quay.io/staphb/pangolin:4.2-pdata-1.19'
      }
}
singularity {
    enabled = true
}